<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{{ 'homepage.title'|trans }}{% endblock %}</title>

  {% block stylesheets %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock stylesheets %}
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-header">
          <span class="navbar-brand">{{ 'homepage.title'|trans }}</span>
        </div>
        <div class="navbar-right navbar-form">
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'homepage.logged'|trans }}
            <a class="btn btn-success" href="{{ path('fos_user_profile_show') }}">
              {{ app.user.username }}
            </a>
            <a class="btn btn-success" href="{{ path('fos_user_security_logout') }}">
              {{ 'homepage.logout'|trans }}
            </a>
          {% else %}
            <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">
              {{ 'homepage.login'|trans }}
            </a>
            <a class="btn btn-success" href="{{ path('fos_user_registration_register') }}">
              {{ 'homepage.register'|trans }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div id="header" class="jumbotron">
      <h1>{{ 'homepage.title'|trans }}: {{ 'homepage.description'|trans }}</h1>
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
        <h4>{{ 'homepage.menu_title'|trans }}</h4>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('entretien_news_home') }}">{{ 'homepage.menu_home'|trans }}</a></li>
          <li><a href="{{ path('entretien_news_add') }}">{{ 'homepage.menu_add'|trans }}</a></li>
        </ul>

        <h4>{{ 'homepage.lastestnews_title'|trans }}</h4>
        {{ render(controller("EntretienNewsBundle:Advert:menu")) }}
      </div>
      <div id="content" class="col-md-9">
        {% block body %}
        {% endblock body %}
      </div>
    </div>

    <hr/>

    <footer>
      <p>Entretien.local © {{ 'now'|date('Y') }}.</p>
    </footer>
  </div>

  {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock javascripts %}

</body>
</html>