{% extends "EntretienNewsBundle::layout.html.twig" %}

{% block title %}
  {{ 'advert.index.title'|trans }} - {{ parent() }}
{% endblock title %}

{% block entretiennews_body %}

  <h2>{{ 'advert.index.list'|trans }}</h2>

  <hr/>

  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('entretien_news_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        {{ 'advert.index.by'|trans }} {{ advert.user.username }}, {{ advert.created|date('d/m/Y') }}
      </li>
    {% else %}
      <li>{{ 'advert.index.no_advert'|trans }}</li>
    {% endfor %}
  </ul>

{% endblock entretiennews_body %}