{% extends "EntretienNewsBundle::layout.html.twig" %}

{% block title %}
  View advert - {{ parent() }}
{% endblock title %}

{% block entretiennews_body %}

  <h2>{{ advert.title }}</h2>
  <i>by {{ advert.user.username }}, {{ advert.created|date('d/m/Y') }}</i>

  <div class="well">
    {{ advert.content }}
  </div>

  <p>
    <a href="{{ path('entretien_news_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Back to list
    </a>
    <a href="{{ path('entretien_news_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Edit advert
    </a>
    <a href="{{ path('entretien_news_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Delete advert
    </a>
  </p>

  <div class="well">
    <p>This advert has <em>{{ advert.nbComment }}</em> comment(s).</p>
    <ul>
      {% for comment in listComments %}
      <li>
        {{ comment.user.username }}
        {{ comment.created|date('d/m/Y') }}
        {{ comment.content }}
      </li>
      {% endfor %}
    </ul>
  </div>

  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ render(controller('EntretienNewsBundle:Comment:addComment',
      { 'id' : advert.id }
    )) }}
  {% else %}
    <div class="well">
      <p>You must be logged in to comment an advert.</p>
    </div>
  {% endif %}

{% endblock entretiennews_body %}