{% extends "EntretienNewsBundle::layout.html.twig" %}

{% block title %}
  {{ 'advert.view.title'|trans }} - {{ parent() }}
{% endblock title %}

{% block entretiennews_body %}

  <h2>{{ advert.title }}</h2>
  
  <i>{{ 'advert.view.by'|trans }} {{ advert.user.username }}, {{ advert.created|date('d/m/Y') }}</i>

  <hr/>

  <div class="well">
    {{ advert.content }}
  </div>

  <p>
    <a href="{{ path('entretien_news_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      {{ 'advert.view.return_button'|trans }}
    </a>
    <a href="{{ path('entretien_news_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      {{ 'advert.view.edit_button'|trans }}
    </a>
    <a href="{{ path('entretien_news_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      {{ 'advert.view.delete_button'|trans }}
    </a>
  </p>

  <div class="well">
    <p>{{ 'advert.view.nb_comment'|transchoice(advert.nbComment, {'%count%': advert.nbComment}) }}</p>
    <ul>
      {% for comment in listComments %}
      <li>
        {{ comment.user.username }}
        {{ comment.created|date('d/m/Y') }}
        {{ comment.content }}
      </li>
      {% endfor %}
    </ul>
  </div>

  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ render(controller('EntretienNewsBundle:Comment:addComment',
      { 'id' : advert.id }
    )) }}
  {% else %}
    <div class="well">
      <p>{{ 'advert.view.form_unlogged'|trans }}</p>
    </div>
  {% endif %}

{% endblock entretiennews_body %}